<!DOCTYPE html>
<html lang="en" dir="ltr" xmlns:th="http://www.thymeleaf.org">
<body>
    <nav class="navbar" th:fragment="navbar">
        <div class="logos"><img src="../Images/Logo.png" style="padding-right: 15px;"></div>
        <div class="logo">TimeFlies</div>
        <label for="btn" class="icon">
            <span class="fa fa-bars"></span>
        </label>

        <ul>
            <li><a href='/home'>Home</a></li>

            <li>
                <label for="btn-1" class="show">Watches +</label>
                <a href='/products'>Watches</a>

                <ul>
                    <li><a href='/products'>All Watches</a></li>
                    <li><a href='/products?category=armani'>Armani</a></li>
                    <li><a href='/products?category=audemars_piguet'>Audemars</a></li>
                    <li><a href='/products?category=cartier'>Cartier</a></li>
                    <li><a href='/products?category=patek_philippe'>Patek </a></li>
                    <li><a href='/products?category=rolex'>Rolex</a></li>
                </ul>
            </li>

            <li><a href='/contact'>Contact Us</a></li>
            <li><a href='/about'>About Us</a></li>

            <li><a href=''>Admin</a>
                <ul>
                    <li><a href='/admin/users'>Users</a></li>
                    <li><a href='/admin/products'>Products</a></li>
                    <li><a href='/admin/orders'>Orders </a></li>

                </ul>
            </li>

            <li>
                <label for="btn-2" class="show">User +</label>
                <a href=" " class="navbar-user"><img class="" src="../Images/user.png" alt="user" width="35" height="35" style="margin-top:18px" /></a>

                <ul>
                    <li><a href='/login'>Name</a></li>
                    <li><a href='/logout'>Logout</a></li>
                </ul>
            </li>

            <li><a href="/cart" class="navbar-basket"><img class="" src="../Images/cart.png" alt="Cart" width="35" height="35" style="margin-top:18px" /></a></li>

        </ul>
    </nav>
</body>
</html>