<!DOCTYPE html>
<html lang="en" dir="ltr" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>User Management</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
      integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="../CSS/styles.css">
    <link rel="Stylesheet" href="../CSS/styles2.css">
  </head>
  <body id="User_Manage">
    <nav th:replace="fragments/navbar :: navbar" />
    <!-- heading -->
    <div>
      <h1>User Management</h1>
    </div>

    <div class="table-container">
      <table>
        <thead>
          <tr>
            <th>#</th>
            <th>Username</th>
            <th colspan="2">Email</th>
            <th>Role</th>
            <th></th>
          </tr>
        </thead>
        <tbody>

        <tr th:each="user : ${users}">
          <td th:text="${user.id}"></td>
          <td th:text="${user.username}"></td>
          <td colspan="2" th:text="${user.email}"></td>
          <td>
            <select>
              <option value="user">User</option>
              <option value="employee">Employee</option>
              <option value="admin">Admin</option>
            </select>
          </td>
          <td><i class="fa-regular fa-trash-can"></i></td>
        </tr>

        </tbody>
      </table>
    </div>

  </body>
</html>
